body {
    background-color: #e0e2d7;
}

.mbg-black {
    background-color: #9e7165; /* #76b5c5 */
}

.mtext-white {
    color: #61554d;
}

.mbg-black #navbarTitle {
    color: black;
}

.mbg-black #navbarTitle:hover {
    color: #ccc;
}

#msg {
    visibility: hidden;
    color: #3C3EF2;
    font-weight: bold;
    font-size: 22px;
    font-family: Verdana;
  }
  button {
    padding: 5px 10px;
    border: 1px solid grey;
    font-size: 18px;
    background: white;
  }
  
  .audio-controls {
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: center;
  
  }
  .audio-controls button {
    margin: 0px 15px;
  }
  canvas {
    margin-top: 10px;
    background-color: black;
  }
  
  select {
    height: 20px;
    margin: 0px 5px;
  }
  a {
    margin-left: 20px;
  }
  .app {
    text-align: center;
    padding-top: 10px;
  }

/* Get Started Button*/

   .cssbuttons-io-button {
    background: #9e7165;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #61554d;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #61554d;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    transform: rotate(90deg);
    color: #9e7165;
  }
  
 