/* base */

body {
  background-color: #e0e2d7;
}

.mbg-black {
  background-color: #9e7165; /* #76b5c5 */
}

.mtext-white {
  color: #61554d;
}

.mbg-black #navbarTitle {

}


#msg {
  visibility: hidden;
  color: #3C3EF2;
  font-weight: bold;
  font-size: 22px;
  font-family: Verdana;
}
button {
  padding: 5px 10px;
  border: 1px solid grey;
  font-size: 18px;
  background: white;
}

.audio-controls {
  display: flex;
  align-items: center;
  padding-top: 20px;
  justify-content: center;

}
.audio-controls button {
  margin: 0px 15px;
}
canvas {
  margin-top: 10px;
  background-color: black;
}

select {
  height: 20px;
  margin: 0px 5px;
}
a {
  margin-left: 20px;
}
.app {
  text-align: center;
  padding-top: 10px;
}

.navbar {
  height: 50px;
}



#scrollBtn:hover {
  background-color: #9e7165;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.content {
  max-width: 500px;
  margin: auto;
}

  .navbar {
    height: 50px;
}

#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #9e7165;
    color: #343335;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    background-image: url('https://raw.githubusercontent.com/PECI2022/demo-repository/joao2/Frontend/templates/imgs/arrowup.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#scrollBtn:hover {
    background-color: #0b0808;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.content {
    max-width: 500px;
    margin: auto;
}

.navbar-nav .nav-link.active {
    color: #e0e2d7;
}


/* Get Started Button*/


