{% extends 'project/projectBase.html' %}

{% block title %} Train {% endblock %}

{% block projectContent %}
<div class="container" onload="load_info()">
  <h1 class="my-5" style="text-align: center;" id="project_title"> </h1>
<!-- 
  <script>
    // Retrieve the project_id from localStorage
    var project_id = localStorage.getItem("project_id");
    
    // Update the HTML with the project_id
    document.getElementById("project-id").innerHTML = project_id;
  </script> -->
  <div class="w-150" style="margin:auto;">
    
   
  <div class="mt-5" style="width:100%;margin:auto">
    <h3 style="text-align: center;">Information about your project</h3>
    <div class="my-4 row row-cols-1 row-cols-md-5 g-4">

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              Description
              <hr> 
            </h5>
            <p class="card-text">
              <textarea class="form-control" id="projectDescription" rows="5"></textarea>
              <!-- <span class="material-icons" style="cursor: pointer;">edit</span><br>
              &emsp;<br> -->
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              Classes
              <hr> 
            </h5>
            <p class="card-text">
             
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              Tags
              <hr> 
            </h5>
            <p class="card-text">
              #HandGesture <br>
              #HandMovements <br>

            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              Category
              <hr> 
            </h5>
            <p class="card-text">
              <form>
                <div class="form-group" id="Category" value="video"></div>
                <div class="form-check" onclick="get_category('Video')">
                  <input class="form-check-input" type="radio" name="option" id="gestures" value="video" checked>
                  <label class="form-check-label" for="video">
                    Video
                  </label>
                </div>
                <div class="form-check" onclick="get_category('Audio')">
                  <input class="form-check-input" type="radio" name="option" id="audio" value="audio">
                  <label class="form-check-label" for="audio">
                    Audio
                  </label>
                </div>
              </form>
              
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              Features
              <hr> 
            </h5>
            <p class="card-text">
              Length  <br>
              Resolution <br>
              Color <br>
              Brightness <br>
              Contrast <br>
              Sharpness <br>
              Saturation <br>
              Hue <br>
             

            </p>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center;">
        <button class="btn btn-danger" style="color: #e0e2d7;background-color: #61554d; border-color: #343335; margin-right: 20px; width: 190px;"  onclick="window.location.href='myProjects'">Save Project Changes</button>
        <button class="btn btn-danger" style="background-color: #ff3333; border-color: #cc0000;width: 190px;" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Project</button>
    
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete your account permanently?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" onclick="deleteAccount()">Delete</button>
                </div>
            </div>
        </div>
    </div>
  </div>

</div>

<script src="{{ url_for('static', filename='js/project/projectBase.js') }}"></script>
  
{% block acquisitionScript %} {% endblock %}

{% endblock %}