{% extends 'project/projectBase.html' %}

{% block title %} Features {% endblock %}

{% block projectContent %}
<div class="container">
  <div class="container my-1">
    <br>
    <br>
    <div class="container my-5">


      <!-- Preview Video-->
      <!-- <div id="previewVideo">
        <video id="video" width="320" height="240" autoplay controls/>
      </div> -->

      <div id="previewVideo" class="card" style="width: 18rem;">
        <video id="video" class="card-img-top" autoplay controls></video>
        <div class="card-body">
          <tr id="chars-text" class="card-text"></tr>
        </div>
      </div>
      <!-- End Preview Video-->

      <div href="newFeature" id="featuresHere" style="display:flex; align-items: center;">
        <h1 class="mtext-white">Features</h1>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-light"
          style="margin-left: auto;background-color: white; border-color: grey;" data-bs-toggle="modal"
          data-bs-target="#newFeature" onclick="getNewFeatureModalData()">
          New Feature
        </button>

        <div class="modal fade" id="newFeature" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">

          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="color: #292929">
              <div class="overlay"></div>
              <div class="modal-header">
                <h5 class="modal-title">New Feature</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name">
                  </div>


                  <div class="row" style="margin-top: 10px;">
                    <div class="col">
                      <div class="form-group" id="featuresModalCategory" value="MediaPipe">
                        <label for="option">Feature:</label>
                        <!-- <div class="form-check" onclick="get_category('MediaPipeHand')">
                          <input class="form-check-input"  type="checkbox" id="Gesture" value="Gesture">
                          <label class="form-check-label" for="Gesture">
                            Gesture recognition
                          </label>
                        </div>
                        <div class="form-check" onclick="get_category('Face')">
                          <input class="form-check-input" type="checkbox" id="Face" value="Face">
                          <label class="form-check-label" for="Face">
                            Face Detection
                          </label>
                        </div>
                        <div class="form-check" onclick="get_category('Pose')">
                          <input class="form-check-input" type="checkbox" id="Pose" value="Pose">
                          <label class="form-check-label" for="Pose">
                            Pose Detection
                          </label>
                        </div>
                        <div class="form-check" onclick="get_category('Holistic')">
                          <input class="form-check-input" type="checkbox" id="Holistic" value="Holistic">
                          <label class="form-check-label" for="Holistic">
                            Holistic Detection
                          </label>
                        </div> -->
                      </div>
                    </div>
                  </div>
                <div>

                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="createFeature()">Save changes</button>
              </div>
            </div>
          </div>



        </div>
      </div>
      <hr class="mbg-white border-3 opacity-100" style="border-color: #eee;">



      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4" id="features_list" style="color: #292929">
        <div class="col-6">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Feature #1</h3>
              <p class="card-text">Media Pipe Calculated</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated: Today</small>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Feature #2</h3>
              <p class="card-text">Media Pipe Calculated</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated: Today</small>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Feature #3</h3>
              <p class="card-text">Media Pipe Calculated</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated: Today</small>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div id="table_popper">
        </div>
      </div>
      <button id="calculateFeaturesbtn" onclick="calculate_features()" class="btn btn-secondary mt-5 mbg-black"
        style="width:100%;font-size:200%;">Calculate Features</button>

      <p id="showText" class="mt-5 mbg-black" style="display:none;text-align: center;width:100%;font-size:200%;">
        Calculating features...</p>
      <div class="progress mt-5 mbg-white" id="progress-bar" style="display:none;">
        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0"
          aria-valuemax="100">
          <span id="progress-text">0%</span>
        </div>
      </div>

      <button id="downloadBtn" onclick="download_features()" class="btn btn-primary mt-5"
        style="display:none;text-align: center;width:100%;font-size:200%;">Download Features</button>

      <!-- Video Modal -->
      <div class="modal modal-lg fade" id="featuresVideoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="featuresModalTitle">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div style="width:640px;height:480px;">
                <video id="featuresVideo" width="640" height="480" autoplay loop
                  style="position:absolute;left:50%;top: 0;background-color: #111;margin:5px auto; display: none;transform: translateX(-50%);"></video>
                <canvas id="featuresVideoSnapshot" width="640" height="480"
                  style="position:absolute;left:50%;top: 0; transform: translateX(-50%);"></canvas>
                <canvas id="featuresDrawHand" width="640" height="480"
                  style="position:absolute;left:50%;top: 0;background: transparent;transform: translateX(-50%);"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>


      <script src="{{ url_for('static', filename='js/project/acquisition/acquisitionBase.js') }}"></script>
      <script src="{{ url_for('static', filename='js/project/features/newFeature.js') }}"></script>
      {% block acquisitionScript %} {% endblock %}

      {% endblock %}