.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

#previewVideo {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 0;
    width: 360px;
    height: 300px;
    display: none;
    position: absolute;
    z-index: 9999;
}

/* Hide video controls */
#previewVideo video::-webkit-media-controls {
    display: none !important;
}

/* Center video vertically and horizontally */
#previewVideo video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.acquisitionTableName:hover {
    text-decoration: underline;
}
.search-container {
    position: relative;
}
.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
.search-icon i {
    font-size: 20px;
}
.modal-body {
    padding: 0;
    color: #333;
}

#record-video {
    display: flex;
    justify-content: center;
    align-items: center;
}
#start-camera{
    display: flex;
    justify-content: center;
    align-items: center;
}
#tab-upload{
    display: flex;
    justify-content: center;
    align-items: center;
}
#tab-Record{
    display: flex;
    justify-content: center;
    align-items: center;
}
#record-video{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* previewVideoTable */
#previewVideoTable {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 0;
    width: 360px;
    height: 320px;
    display: none;
    position: absolute;
    z-index: 9999;
  }
  
  /* Hide video controls */
  #previewVideoTable video::-webkit-media-controls {
    display: none !important;
  }
  
  /* Center video vertically and horizontally */
  #previewVideoTable video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
  }
  
  #previewVideoTable .card-body {
    color:#000;
    position: absolute;
    width: 100%;
    left:0;
    top: 65%;
    margin: 0;
    padding: 0;
    z-index: 9999;
  }
  #previewVideoTable .card-body .list-group {
   border-radius: 0 0 5px 5px;
  }
  
  #previewVideoTable .card-body .list-group-item {
    font-size: 1rem;
    margin: 0;
    padding: 0 0 0 0.5rem;
  }
  
  .acquisitionTableName:hover {
    text-decoration: underline;
  }