{% extends 'base.html' %}

{% block title %} My Projects {% endblock %}

{% block aditionalHead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}

    

    <div class="container my-1">
        <br>
        <h2 style="text-align:center;color: #61554d">About Us</h2>
    
        <br>
        
    
        <h6 style="text-align:center;color: #343335">Powered by Computer and Telematics Engineering Students at University of Aveiro</h6>
    
        <br>
        <div style="text-align:center;"class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 13rem;">
                        <img src="https://raw.githubusercontent.com/PECI2022/demo-repository/joao2/Frontend/templates/imgs/joao.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">João Afonso Ferreira</h5>
                            <p class="card-text">MIECT</p>                      
                            <a href="https://github.com/joaoafonso02" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M12 .297C5.373.297 0 5.67 0 12.297c0 5.312 3.438 9.8 8.205 11.385.6.11.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.723-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.758-1.333-1.758-1.09-.745.083-.73.083-.73 1.206.085 1.838 1.236 1.838 1.236 1.07 1.837 2.81 1.305 3.495.997.108-.776.42-1.305.765-1.605-2.67-.306-5.466-1.336-5.466-5.93 0-1.31.465-2.38 1.236-3.22-.135-.307-.54-1.535.105-3.202 0 0 1.02-.325 3.34 1.24.97-.27 2.01-.405 3.045-.41 1.03.005 2.075.14 3.045.41 2.32-1.565 3.34-1.24 3.34-1.24.645 1.667.24 2.895.12 3.202.765.84 1.23 1.91 1.23 3.22 0 4.608-2.8 5.62-5.475 5.915.42.36.81 1.096.81 2.215 0 1.605-.015 2.895-.015 3.29 0 .315.21.69.825.57C20.565 22.09 24 17.61 24 12.297 24 5.67 18.627.297 12 .297z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 13rem;height: 362px;">
                        <img src="https://raw.githubusercontent.com/PECI2022/demo-repository/joao2/Frontend/templates/imgs/durvz.jpeg"   height=205 class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Pedro Durval Cruzeiro</h5>
                            <p class="card-text">LECI</p>
                            
                            <a href="https://github.com/your-username" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M12 .297C5.373.297 0 5.67 0 12.297c0 5.312 3.438 9.8 8.205 11.385.6.11.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.723-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.758-1.333-1.758-1.09-.745.083-.73.083-.73 1.206.085 1.838 1.236 1.838 1.236 1.07 1.837 2.81 1.305 3.495.997.108-.776.42-1.305.765-1.605-2.67-.306-5.466-1.336-5.466-5.93 0-1.31.465-2.38 1.236-3.22-.135-.307-.54-1.535.105-3.202 0 0 1.02-.325 3.34 1.24.97-.27 2.01-.405 3.045-.41 1.03.005 2.075.14 3.045.41 2.32-1.565 3.34-1.24 3.34-1.24.645 1.667.24 2.895.12 3.202.765.84 1.23 1.91 1.23 3.22 0 4.608-2.8 5.62-5.475 5.915.42.36.81 1.096.81 2.215 0 1.605-.015 2.895-.015 3.29 0 .315.21.69.825.57C20.565 22.09 24 17.61 24 12.297 24 5.67 18.627.297 12 .297z"/>
                                </svg>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 13rem;">
                        <img src="https://raw.githubusercontent.com/PECI2022/demo-repository/joao2/Frontend/templates/imgs/radio.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Eduardo Lopes Fernandes</h5>
                            <p class="card-text">LECI</p>
                            <a href="https://github.com/your-username" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M12 .297C5.373.297 0 5.67 0 12.297c0 5.312 3.438 9.8 8.205 11.385.6.11.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.723-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.758-1.333-1.758-1.09-.745.083-.73.083-.73 1.206.085 1.838 1.236 1.838 1.236 1.07 1.837 2.81 1.305 3.495.997.108-.776.42-1.305.765-1.605-2.67-.306-5.466-1.336-5.466-5.93 0-1.31.465-2.38 1.236-3.22-.135-.307-.54-1.535.105-3.202 0 0 1.02-.325 3.34 1.24.97-.27 2.01-.405 3.045-.41 1.03.005 2.075.14 3.045.41 2.32-1.565 3.34-1.24 3.34-1.24.645 1.667.24 2.895.12 3.202.765.84 1.23 1.91 1.23 3.22 0 4.608-2.8 5.62-5.475 5.915.42.36.81 1.096.81 2.215 0 1.605-.015 2.895-.015 3.29 0 .315.21.69.825.57C20.565 22.09 24 17.61 24 12.297 24 5.67 18.627.297 12 .297z"/>
                                </svg>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 13rem;height: 362px;" > 
                        <img src="https://raw.githubusercontent.com/PECI2022/demo-repository/joao2/Frontend/templates/imgs/claroo.jpg"  height=205 class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Guilherme Claro</h5>
                            <p class="card-text">MECT</p>
                            <a href="https://github.com/your-username" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M12 .297C5.373.297 0 5.67 0 12.297c0 5.312 3.438 9.8 8.205 11.385.6.11.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.723-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.758-1.333-1.758-1.09-.745.083-.73.083-.73 1.206.085 1.838 1.236 1.838 1.236 1.07 1.837 2.81 1.305 3.495.997.108-.776.42-1.305.765-1.605-2.67-.306-5.466-1.336-5.466-5.93 0-1.31.465-2.38 1.236-3.22-.135-.307-.54-1.535.105-3.202 0 0 1.02-.325 3.34 1.24.97-.27 2.01-.405 3.045-.41 1.03.005 2.075.14 3.045.41 2.32-1.565 3.34-1.24 3.34-1.24.645 1.667.24 2.895.12 3.202.765.84 1.23 1.91 1.23 3.22 0 4.608-2.8 5.62-5.475 5.915.42.36.81 1.096.81 2.215 0 1.605-.015 2.895-.015 3.29 0 .315.21.69.825.57C20.565 22.09 24 17.61 24 12.297 24 5.67 18.627.297 12 .297z"/>
                                </svg>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 13rem;height: 362px;">
                        <img src="https://raw.githubusercontent.com/PECI2022/demo-repository/joao2/Frontend/templates/imgs/tiago.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tiago Mostardinha</h5>
                            <p class="card-text">LECI</p>
                            <a href="https://github.com/your-username" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M12 .297C5.373.297 0 5.67 0 12.297c0 5.312 3.438 9.8 8.205 11.385.6.11.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.723-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.758-1.333-1.758-1.09-.745.083-.73.083-.73 1.206.085 1.838 1.236 1.838 1.236 1.07 1.837 2.81 1.305 3.495.997.108-.776.42-1.305.765-1.605-2.67-.306-5.466-1.336-5.466-5.93 0-1.31.465-2.38 1.236-3.22-.135-.307-.54-1.535.105-3.202 0 0 1.02-.325 3.34 1.24.97-.27 2.01-.405 3.045-.41 1.03.005 2.075.14 3.045.41 2.32-1.565 3.34-1.24 3.34-1.24.645 1.667.24 2.895.12 3.202.765.84 1.23 1.91 1.23 3.22 0 4.608-2.8 5.62-5.475 5.915.42.36.81 1.096.81 2.215 0 1.605-.015 2.895-.015 3.29 0 .315.21.69.825.57C20.565 22.09 24 17.61 24 12.297 24 5.67 18.627.297 12 .297z"/>
                                </svg>
                            </a>

                        </div>
                        </div>
                    </div>
                </div>
                
            </div>

<br>
<br>
<h2 style="text-align:center;color: #61554d">Oriented by:</h2>
<br>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-4">
      <div class="card" style="width: 13rem;">
        <img src="https://raw.githubusercontent.com/PECI2022/demo-repository/joao2/Frontend/templates/imgs/samuel.jpg" class="card-img-top" alt="...">
        <div class="card-body">
         <h5 class="card-title">Samuel Silva</h5>
            
        </div>
      </div>
    </div>
     <div class="col-sm-6 col-md-4">
      <div class="card" style="width: 13rem;">
        <img src="https://raw.githubusercontent.com/PECI2022/demo-repository/joao2/Frontend/templates/imgs/fabio.jpg" class="card-img-top" alt="...">
        <div class="card-body">
         <h5 class="card-title">Fábio Barros</h5>
            
        </div>
      </div>
    </div>
  </div>
</div>

        
            <br>
            <br>
        <h6 style="text-align:center;color: grey">Project developed for the "Project in Computer Engineering and Informatics" Course</h6>
    
        
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <button onclick="topFunction()" id="scrollBtn" title="Go to top"></button>



        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("scrollBtn").style.display = "block";
            } else {
                document.getElementById("scrollBtn").style.display = "none";
            }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
            }
        </script>

    

</div>
{% endblock %}