{% extends 'base.html' %}

{% block title %} Editor {% endblock %}

{% block content %}
<div class="container-fluid my-3">
    <div class="row row-cols-3 mx-5">
        <div class="col-2">
            <div class="d-grid gap-2">
                <button class="btn button btn-light block" id="start-camera">Start Camera</button>
                <button class="btn button btn-light block" id="start-record" disabled>Start Recording</button>
                <button class="btn button btn-light block" id="stop-record" disabled>Stop Recording</button>
                <button class="btn button btn-light block" id="save-video" disabled>Save Recording</button>
            </div>
        </div>
        <div class="col-8" style="text-align: center;">
            <video id="video" width="640" height="480" autoplay style="background-color: #111;margin:5px auto; display: none;"></video>
            <video id="video_loader" width="640" height="480" autoplay style="background-color: #111;margin:5px auto; display: none;"></video>
        </div>
        <div class="col-2 text-light" style="">
            <h3 class="" style="display: flex;cursor: pointer;" onclick="list_videos_fetch()"><a class="btn button p-0 text-light" >&#8635;</a> Videos List</h3>
            
            <ul id="list_videos">
                EMPTY
            </ul>
        </div>
    </div>

    <!--<br>
    <video id="loaded-video" src="" width="320" height="240" autoplay></video>
    <br>-->

</div>

<script src="{{ url_for('static', filename='js/editor.js') }}"></script>
{% endblock %}