{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block aditionalHead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}

<!-- <div class="container"> -->

<!-- Section One -->
<section class="section-one"
    style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh;">
    <h3 data-bs-toggle="modal" data-bs-target="#info" title="For more info, click!" class="header">Modular Framework
        for Data Acquisition and </br> Annotation to Support Interaction Scenarios</h3>
    <h4 style="margin-top: 30px;">Unleash insights hidden in Non-Verbal Communications!</h4>
    <!--<p class="section-one-paragraph" style="text-align: center;" data-bs-toggle="modal" data-bs-target="#info" title="For more info, click!"> A place where you can explore Non Verbal DataSets... </p> -->
    <button class="cssbuttons-io-button" style="margin-top: 30px;" onclick="window.location.href='#section-three'">
        Explore
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor"
                    d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path>
            </svg>
        </div>
    </button>
</section>


<div class="modal fade" id="info" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">MFDAA - More Info</h5>
            </div>
            <div class="modal-body;margin-top: 10px;text-align:left;">
                <br>
                <h6 style="text-align:center;">This modular data acquisition framework is designed to facilitate the making of data acquisition systems for interaction scenarios. This system involves the 
                    acquisition of data from various sources, as well as the real-time processing and analysis of that data to enable interactive behavior. Our modular data acquisition framework can be used in a wide range of applications such as research and development and consumer-facing systems. In research and development, it can be used to study and evaluate different interaction scenarios and algorithms. And in consumer-facing systems, it can be used to enable interactive and personalized experiences for users.
                </h6>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
  </div>

<!-- Section Two -->

<div id="whiteSection">

    <div class="container">

        <!-- Section Three -->
        <section class="section-three" id="section-three">
            <h3>Offering Overview</h3>
        </section>
        <section class="section=three" style="display: flex;justify-content: center; align-items: center;">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-item active">
                    <div style="background-color: #383838 ; height: 130vh; width: 100vw; display: flex; justify-content: center; align-items: center;">
                        <img src="{{ url_for('static', filename='imgs/database.png') }}" class="d-block w-100" alt="...">
                        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                            <h2 style="color: white;">Consult our community projects</h2>
                            <p style="color: white;">Here you can find and see all of the Non-Verbal DataSets created until today, including yours!</p>
                            <a href="/browse" class="learn-more-btn section-three-btn">Community projects</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="background-color: #383838 ; height: 130vh; width: 100vw; display: flex; justify-content: center; align-items: center;">
                        <img src="{{ url_for('static', filename='imgs/acquisition1.jpg') }}" class="d-block w-100" alt="...">
                        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                            <h2 style="color: white;">Create your own projects</h2>
                            <p style="color: white;">Where you can record or upload your own video(s) to create your own DataSet, and use it to calculate and extract features using MediaPipe (Gestures and Face Detection)!</p>
                            <a href="myProjects" class="learn-more-btn section-three-btn">Your projects</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="background-color: #383838 ; height: 130vh; width: 100vw; display: flex; justify-content: center; align-items: center;">
                        <img src="{{ url_for('static', filename='imgs/annotation1.jpg') }}" class="d-block w-100" alt="...">
                        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                            <h2 style="color: white;">Video Annotation</h2>
                            <p style="color: white;">At the video acquisition the user can label and annotate his own video(s) at his free will!</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>



    </div>
</div>
<section class="section-seven">
    <h3>MFDAA - Usage Example</h3>
    <video src="{{ url_for('static', filename='imgs/demo.mp4') }}" class="d-block w-100" controls></video>
    
</section>

<section class="section-three" >
    <h3>About Us</h3>
    <div style="text-align:center; margin-top: 100px;color: #0A0A0A !important" class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 13rem;">
                    <img src="{{ url_for('static', filename='imgs/joao.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">João Afonso Ferreira</h5>
                        <p class="card-text">MIECT</p>
                        <!--<a href="https://github.com/joaoafonso02" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M12 .297C5.373.297 0 5.67 0 12.297c0 5.312 3.438 9.8 8.205 11.385.6.11.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.723-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.758-1.333-1.758-1.09-.745.083-.73.083-.73 1.206.085 1.838 1.236 1.838 1.236 1.07 1.837 2.81 1.305 3.495.997.108-.776.42-1.305.765-1.605-2.67-.306-5.466-1.336-5.466-5.93 0-1.31.465-2.38 1.236-3.22-.135-.307-.54-1.535.105-3.202 0 0 1.02-.325 3.34 1.24.97-.27 2.01-.405 3.045-.41 1.03.005 2.075.14 3.045.41 2.32-1.565 3.34-1.24 3.34-1.24.645 1.667.24 2.895.12 3.202.765.84 1.23 1.91 1.23 3.22 0 4.608-2.8 5.62-5.475 5.915.42.36.81 1.096.81 2.215 0 1.605-.015 2.895-.015 3.29 0 .315.21.69.825.57C20.565 22.09 24 17.61 24 12.297 24 5.67 18.627.297 12 .297z"/>
                                    </svg>
                                </a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 13rem;">
                    <img src="{{ url_for('static', filename='imgs/durvz.jpeg') }}" height=205 class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pedro Durval Cruzeiro</h5>
                        <p class="card-text">LECI</p>

                        <!--<a href="https://github.com/your-username" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M12 .297C5.373.297 0 5.67 0 12.297c0 5.312 3.438 9.8 8.205 11.385.6.11.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.723-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.758-1.333-1.758-1.09-.745.083-.73.083-.73 1.206.085 1.838 1.236 1.838 1.236 1.07 1.837 2.81 1.305 3.495.997.108-.776.42-1.305.765-1.605-2.67-.306-5.466-1.336-5.466-5.93 0-1.31.465-2.38 1.236-3.22-.135-.307-.54-1.535.105-3.202 0 0 1.02-.325 3.34 1.24.97-.27 2.01-.405 3.045-.41 1.03.005 2.075.14 3.045.41 2.32-1.565 3.34-1.24 3.34-1.24.645 1.667.24 2.895.12 3.202.765.84 1.23 1.91 1.23 3.22 0 4.608-2.8 5.62-5.475 5.915.42.36.81 1.096.81 2.215 0 1.605-.015 2.895-.015 3.29 0 .315.21.69.825.57C20.565 22.09 24 17.61 24 12.297 24 5.67 18.627.297 12 .297z"/>
                                    </svg>
                                </a> -->

                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 13rem;">
                    <img src="{{ url_for('static', filename='imgs/edu.png') }}" height=205 class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Eduardo Lopes Fernandes</h5>
                        <p class="card-text">LECI</p>
                        <!-- <a href="https://github.com/your-username" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M12 .297C5.373.297 0 5.67 0 12.297c0 5.312 3.438 9.8 8.205 11.385.6.11.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.723-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.758-1.333-1.758-1.09-.745.083-.73.083-.73 1.206.085 1.838 1.236 1.838 1.236 1.07 1.837 2.81 1.305 3.495.997.108-.776.42-1.305.765-1.605-2.67-.306-5.466-1.336-5.466-5.93 0-1.31.465-2.38 1.236-3.22-.135-.307-.54-1.535.105-3.202 0 0 1.02-.325 3.34 1.24.97-.27 2.01-.405 3.045-.41 1.03.005 2.075.14 3.045.41 2.32-1.565 3.34-1.24 3.34-1.24.645 1.667.24 2.895.12 3.202.765.84 1.23 1.91 1.23 3.22 0 4.608-2.8 5.62-5.475 5.915.42.36.81 1.096.81 2.215 0 1.605-.015 2.895-.015 3.29 0 .315.21.69.825.57C20.565 22.09 24 17.61 24 12.297 24 5.67 18.627.297 12 .297z"/>
                                    </svg>
                                </a> -->

                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 13rem;">
                    <img src="{{ url_for('static', filename='imgs/claroo.jpg') }}" height=205 class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Guilherme Mendonça Claro</h5>
                        <p class="card-text">MIECT</p>
                        <!--<a href="https://github.com/your-username" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M12 .297C5.373.297 0 5.67 0 12.297c0 5.312 3.438 9.8 8.205 11.385.6.11.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.723-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.758-1.333-1.758-1.09-.745.083-.73.083-.73 1.206.085 1.838 1.236 1.838 1.236 1.07 1.837 2.81 1.305 3.495.997.108-.776.42-1.305.765-1.605-2.67-.306-5.466-1.336-5.466-5.93 0-1.31.465-2.38 1.236-3.22-.135-.307-.54-1.535.105-3.202 0 0 1.02-.325 3.34 1.24.97-.27 2.01-.405 3.045-.41 1.03.005 2.075.14 3.045.41 2.32-1.565 3.34-1.24 3.34-1.24.645 1.667.24 2.895.12 3.202.765.84 1.23 1.91 1.23 3.22 0 4.608-2.8 5.62-5.475 5.915.42.36.81 1.096.81 2.215 0 1.605-.015 2.895-.015 3.29 0 .315.21.69.825.57C20.565 22.09 24 17.61 24 12.297 24 5.67 18.627.297 12 .297z"/>
                                    </svg>
                                </a> -->

                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 13rem;">
                    <img src="{{ url_for('static', filename='imgs/tiago.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tiago Figueira Mostardinha</h5>
                        <p class="card-text">LECI</p>
                        <!-- <a href="https://github.com/your-username" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M12 .297C5.373.297 0 5.67 0 12.297c0 5.312 3.438 9.8 8.205 11.385.6.11.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.723-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.758-1.333-1.758-1.09-.745.083-.73.083-.73 1.206.085 1.838 1.236 1.838 1.236 1.07 1.837 2.81 1.305 3.495.997.108-.776.42-1.305.765-1.605-2.67-.306-5.466-1.336-5.466-5.93 0-1.31.465-2.38 1.236-3.22-.135-.307-.54-1.535.105-3.202 0 0 1.02-.325 3.34 1.24.97-.27 2.01-.405 3.045-.41 1.03.005 2.075.14 3.045.41 2.32-1.565 3.34-1.24 3.34-1.24.645 1.667.24 2.895.12 3.202.765.84 1.23 1.91 1.23 3.22 0 4.608-2.8 5.62-5.475 5.915.42.36.81 1.096.81 2.215 0 1.605-.015 2.895-.015 3.29 0 .315.21.69.825.57C20.565 22.09 24 17.61 24 12.297 24 5.67 18.627.297 12 .297z"/>
                                    </svg>
                                </a> -->

                    </div>
                </div>
            </div>
        </div>

    </div>

    <br>
    <br>
    <h4 style="text-align: center;">Oriented by:</h4>
    <br>

    <div class="container">
        <div class="row justify-content-center" style="margin-left: 270px;margin-top: 50px;text-align:center;color: #0A0A0A !important">
            <div class="col-sm-6 col-md-4">
                <div class="card" style="width: 13rem;">
                    <img src="{{ url_for('static', filename='imgs/samuel.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Samuel Silva</h5>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" style="margin-right: 210px;">
                <div class="card" style="width: 13rem;">
                    <img src="{{ url_for('static', filename='imgs/fabio.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fábio Barros</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- </div> -->

<footer style="margin-top: 60px;text-align: center;">
    <p>&copy; 2023 MFDAA. All Rights Reserved.</p>
</footer>


{% endblock %}