{% extends 'base.html' %}

{% block title %} My Projects {% endblock %}

{% block aditionalHead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<style>

  .modal-content {
    margin-top: 10px;
  }


  .card-body:hover {
    cursor: pointer;
  }


</style>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <div class="container my-1">
        <br>
        <br>
        <div class="container my-5">
            <div href="newProject" id="projectsHere" style="display:flex;">
                <h1 class="mtext-white" >My Projects</h1>
                       <!-- Button trigger modal -->
                       <button type="button" class="btn btn-light d-flex align-items-center" style="margin-left: auto;background-color: white; border-color: grey;" data-bs-toggle="modal" data-bs-target="#newProject">
                        <span class="material-symbols-outlined">
                          add
                        </span>
                      </button>

                 <div class="modal fade" id="newProject" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content" style="color: #292929">
                        <div class="overlay"></div>
                        <div class="modal-header">
                          <h5 class="modal-title">New Project</h5>
                          <button type="button" class="close" data-bs-dismiss="modal" onclick="window.location.href='myProjects'" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-group">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" id="name" placeholder="Enter name">
                            </div>
                            <div class="form-group" style="margin-top: 10px;">
                              <label for="description">Description</label>
                              <textarea class="form-control" id="description" placeholder="Enter description"></textarea>
                            </div>
                            
                             <div class="row" style="margin-top: 10px;">
                                
                                <div class="col">
                                  <div class="form-group" id="Privacy" value="Public">
                                    <label for="option">Privacy</label>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" onclick="get_privacy('Public')" name="privacy_option" value="public" checked>
                                      <label class="form-check-label" for="public">
                                        Public
                                      </label>
                                    </div>
                                    <div class="form-check" onclick="get_privacy('Private')">
                                      <input class="form-check-input" type="radio" name="privacy_option" id="private" value="private">
                                      <label class="form-check-label" for="private">
                                        Private
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>


                            <div>
                              <label for="tags">Tags</label>
                               <p id="tags"></p>
                              <input type="text" id="newTagInput" placeholder="#">
                              <button type="button" onclick="addTag()" class="btn btn-primary">Add tag</button>
                            </div>

                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="window.location.href='myProjects'">
                            <span class="material-symbols-outlined">
                              cancel
                              </span>
                        </button>
                        <button type="button" class="btn btn-success" onclick="create_project()">
                          <span class="material-symbols-outlined">
                            save
                            </span>
                        </button>
                        </div>
                    </div>
                </div>
                


                
            </div>
     </div>
            <hr class="mbg-white border-3 opacity-100" style="border-color: #eee;">
        
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4" id="project_list" style="color: #292929">
                  
                  
                      
            </div>

        <!-- <button onclick="topFunction()" id="scrollBtn" title="Go to top"></button> -->


        <script src="{{ url_for('static', filename='js/project/newProject.js') }}"></script>
        


    

    </div>

</div>
{% endblock %}