{% extends 'project/acquisition/acquisitionBase.html' %}

{% block acquisitionOptions %}
<div class="btn-group">
    <button id="classDropdown" class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
        Thumbsup
    </button>
    <ul class="dropdown-menu w-100">
        <li><button class="dropdown-item block" onclick="document.querySelector('#classDropdown').innerHTML='Thumbup'">Thumbsup</button></li>
        <li><button class="dropdown-item block" onclick="document.querySelector('#classDropdown').innerHTML='Thumbsdown'">Thumbsdown</button></li>
        <li><button class="dropdown-item block" onclick="document.querySelector('#classDropdown').innerHTML='Peace'">Peace</button></li>
    </ul>
    <button onclick="prompt('New Class Name?')">+</button>
</div>
<div class="input-group">
    <span class="input-group-text" style="width:70%;">Countdown</span>
    <input type="number" aria-label="First name" class="form-control" value="3">
</div> 
<div class="input-group">
    <span class="input-group-text" style="width:70%;">Duration</span>
    <input type="number" aria-label="First name" class="form-control" value="3">
</div> 
  
<button class="btn button btn-light block" id="save-video" disabled>Record</button>
{% endblock %}

{% block acquisitionDisplay %}
<div id="startDisplayButtonBack" style="width: 640px;height:480px;background-color: #111;margin:5px auto;display: flex;justify-content: center;align-items: center;">
    <button class="btn button btn-light" id="start-camera" >Start Camera</button>
</div>

<video id="video" width="640" height="480" autoplay style="background-color: #111;margin:5px auto; display: none;"></video>
<video id="video_loader" width="640" height="480" autoplay style="background-color: #111;margin:5px auto; display: none;"></video>
{% endblock %}


{% block acquisitionScript %}
<script src="{{ url_for('static', filename='js/project/acquisition/video.js') }}"></script>

<script>
    const startCameraButton = document.querySelector('#start-camera');
    const saveVideoButton = document.querySelector('#save-video');

    let isCameraOn = false;
    let mediaRecorder;
    let recordedChunks = [];

    startCameraButton.addEventListener('click', async () => {
    try {
        const stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
        const videoElement = document.querySelector('#video');
        videoElement.srcObject = stream;
        videoElement.play();
        isCameraOn = true;
        saveVideoButton.removeAttribute('disabled'); // enable the "Record" button
        startCameraButton.style.display = 'none'; // hide the "Start Camera" button

        // create a MediaRecorder object to record video
        mediaRecorder = new MediaRecorder(stream);
        mediaRecorder.addEventListener('dataavailable', event => {
        recordedChunks.push(event.data);
        });
        mediaRecorder.addEventListener('stop', () => {
        const blob = new Blob(recordedChunks, { type: 'video/webm' });
        recordedChunks = [];
        const videoName = prompt('Enter video name:', 'myvideo');
        if (videoName !== null) {
            const videoUrl = URL.createObjectURL(blob);
            const downloadLink = document.createElement('a');
            downloadLink.href = videoUrl;
            downloadLink.download = `${videoName}.webm`;
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
        }
        });
    } catch (error) {
        console.error('Error starting camera:', error);
    }
    });

    saveVideoButton.setAttribute('disabled', 'true'); // disable the "Record" button by default

    saveVideoButton.addEventListener('click', () => {
    if (isCameraOn) {
        if (mediaRecorder.state === 'recording') {
        mediaRecorder.stop();
        saveVideoButton.innerHTML = 'Record';
        } else {
        recordedChunks = [];
        mediaRecorder.start();
        saveVideoButton.innerHTML = 'Stop';
        }
    }
    });


</script>
{% endblock %}