{% extends 'project/acquisition/acquisitionBase.html' %}

{% block acquisitionOptions %}
<div class="btn-group">
    <button id="classDropdown" class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
        Thumbsup
    </button>
    <ul class="dropdown-menu w-100">
        <li><button class="dropdown-item block" onclick="document.querySelector('#classDropdown').innerHTML='Thumbup'">Thumbsup</button></li>
        <li><button class="dropdown-item block" onclick="document.querySelector('#classDropdown').innerHTML='Thumbsdown'">Thumbsdown</button></li>
        <li><button class="dropdown-item block" onclick="document.querySelector('#classDropdown').innerHTML='Peace'">Peace</button></li>
    </ul>
    <button onclick="prompt('New Class Name?')">+</button>
</div>
<div class="input-group">
    <span class="input-group-text" style="width:70%;">Countdown</span>
    <input id="video-countdown" type="number" aria-label="First name" class="form-control" value="3">
</div> 
<div class="input-group">
    <span class="input-group-text" style="width:70%;">Duration</span>
    <input id="video-duration" type="number" aria-label="First name" class="form-control" value="3">
</div> 
  
<button class="btn button btn-light block" id="record-video" disabled>Record</button>

<div id="acquisitionVideoPreviewModal" class="modal" tabindex="10" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Preview Acquisition</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: center;">
            <video id="acquisitionVideoPreviewModalVideo" class="bg-black" style="" width="640" height="480" autoplay loop controls></video>
            <div class="input-group w-75" style="margin: auto;">
                <span class="input-group-text">Recording Name</span>
                <input id="acquisitionVideoPreviewModalDescriptionName" type="text" aria-label="First name" class="form-control" value="Acquisition 17#">
            </div> 
        </div>
        <div class="modal-footer">
          <button id="acquisitionVideoPreviewModalStore" type="button" class="btn btn-primary" onclick="storeCurrentBlob()">Save Recording</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block acquisitionDisplay %}
<div id="startDisplayButtonBack" style="width: 640px;height:480px;background-color: #111;margin:5px auto;display: flex;justify-content: center;align-items: center;">
    <button class="btn button btn-light" id="start-camera" >Start Camera</button>
</div>

<video id="video" width="640" height="480" autoplay style="background-color: #111;margin:5px auto; display: none;"></video>
<video id="video_loader" width="640" height="480" autoplay style="background-color: #111;margin:5px auto; display: none;"></video>
{% endblock %}


{% block acquisitionScript %}
<script src="{{ url_for('static', filename='js/project/acquisition/video.js') }}"></script>
{% endblock %}