{% extends 'base.html' %}

{% block title %} Project {% endblock %}

{% block additionalHeadBase %}
    {% block additionalHeadProjectBase %}
    {% endblock %}
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg mbg-black" style="background-color: #7e5145;">
    <div class="container-fluid">
        <ul class="navbar-nav" style="margin: auto;">
               
            <!-- empty li to push buttons to the right -->
            <li class="nav-item ml-auto"></li>
            
            
            <li class="nav-item px-4">
                <a class="nav-link m-0 " href="/project/acquisition/video" >Acquisition</a>
            </li>
           
            <li class="nav-item px-4">
                <a class="nav-link m-0" href="/project/train/train" >Train</a>
            </li>
            
            <li class="nav-item px-4">
                <a class="nav-link m-0" href="/project/visualize/video" >Visualize</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid my-3">
    {% block projectContent %} {% endblock %}
</div>
{% endblock %}

{% block baseScript %}
    <script src="{{ url_for('static', filename='js/project/projectBase.js') }}"></script>
    {% block projectBaseScript %} {% endblock %}
{% endblock %}