{% extends 'base.html' %}

{% block title %} Project {% endblock %}

{% block additionalHeadBase %}
{% block additionalHeadProjectBase %}
{% endblock %}
{% endblock %}

{% block content %}
<!-- <nav class="navbar navbar-expand-lg mbg-black" style="background-color: black;">
    <div class="container-fluid">
        <ul style="margin: auto;" id="nav2">
               

            <li class="nav-item ml-auto" id ="list2"></li>
            
            
            <li class="nav-item px-4" id ="list2">
                <a class="nav-link m-0 " href="../projectAbout"; style="color: #e0e2d7" {% if request.path == '/projectAbout' %} disabled {% endif %}>Home</a>
            </li>

            <li class="nav-item px-4" id ="list2">
                <a class="nav-link m-0 " href="/project/acquisition/video" style="color: #e0e2d7" >Acquisition</a>
            </li>
           
            <li class="nav-item px-4" id ="list2">
                <a class="nav-link m-0" href="/project/train/train" style="color: #e0e2d7">Train</a>
            </li>
            
            <li class="nav-item px-4" id ="list2">
                <a class="nav-link m-0" href="/project/visualize/video" style="color: #e0e2d7">Visualize</a>
            </li>
        </ul> 
    </div>  
</nav> -->

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-sm-3 col-md-2">
            <ul id="nav2" class="w-100 text-center" style="margin: 0;position: relative; top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);">
                <li class="nav-item" id="list2"><a class="m-0" id="projectAboutLink" href="/project/about/projectAbout">Home Project</a></li>
                <li class="nav-item" id="list2"><a class="m-0" id="AcquisitionLink" href="/project/acquisition/video">Acquisition</a></li>
                <li class="nav-item" id="list2"><a class="m-0" id="FeatureLink" href="/project/features/features">Features</a></li>
                <li class="nav-item" id="list2"><a class="m-0" id="TrainLink" href="/project/train/train">Train</a></li>
                <li class="nav-item" id="list2"><a class="m-0" id="VisualizeLink" href="/project/visualize/video">Visualize</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10 p-0">
            <div id="divProjectContent" class="p-3" style="overflow: auto;">
                {% block projectContent %} {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block baseScript %}
<script>
    var project_id = localStorage.getItem("project_id");
    var projectAboutLink = document.getElementById("projectAboutLink");
    var AcquisitionLink = document.getElementById("AcquisitionLink");
    var FeatureLink = document.getElementById("FeatureLink");
    var TrainLink = document.getElementById("TrainLink");
    var VisualizeLink = document.getElementById("VisualizeLink");

    projectAboutLink.href = "/project/projectAbout?id=" + project_id;
    AcquisitionLink.href = "/project/acquisition/video?id=" + project_id;
    FeatureLink.href = "/project/features/features?id=" + project_id;
    TrainLink.href = "/project/train/train?id=" + project_id;
    VisualizeLink.href = "/project/visualize/video?id=" + project_id;
</script>
<script src="{{ url_for('static', filename='js/project/projectBase.js') }}"></script>
{% block projectBaseScript %} {% endblock %}
{% endblock %}