{% extends 'base.html' %}

{% block title %} Project {% endblock %}

{% block additionalHeadBase %}
{% block additionalHeadProjectBase %}
{% endblock %}
{% endblock %}

{% block content %}
<!-- <nav class="navbar navbar-expand-lg mbg-black" style="background-color: black;">
    <div class="container-fluid">
        <ul style="margin: auto;" id="nav2">
               

            <li class="nav-item ml-auto" id ="list2"></li>
            
            
            <li class="nav-item px-4" id ="list2">
                <a class="nav-link m-0 " href="../projectAbout"; style="color: #e0e2d7" {% if request.path == '/projectAbout' %} disabled {% endif %}>Home</a>
            </li>

            <li class="nav-item px-4" id ="list2">
                <a class="nav-link m-0 " href="/project/acquisition/video" style="color: #e0e2d7" >Acquisition</a>
            </li>
           
            <li class="nav-item px-4" id ="list2">
                <a class="nav-link m-0" href="/project/train/train" style="color: #e0e2d7">Train</a>
            </li>
            
            <li class="nav-item px-4" id ="list2">
                <a class="nav-link m-0" href="/project/visualize/video" style="color: #e0e2d7">Visualize</a>
            </li>
        </ul> 
    </div>  
</nav> -->

<div class="container-fluid h-100">
    <div class="row h-100">
        <div id="sidebarNav" class="col-sm-3 col-md-2 py-5 mbg-secondary">
            <div id="nav2" class="text-center w-100" style="">
                <div class="h-100 p-3 text-center"> 
                    <h3 style="text-align: center;" id="project_title"></h3>
                    <p></p>
                    <p id="tags" class="card-text">
                   
                    </p>
                </div>
                <ul class="w-100 p-0" style="list-style-type: none;">
                    <li class="nav-item">
                        <a class="m-0" id="AcquisitionLink" >
                                <span class="material-symbols-outlined">
                                videocam
                                </span> Acquisition
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="m-0" id="FeatureLink">
                            <span class="material-symbols-outlined">
                                new_releases
                                </span> Features
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="m-0" id="SettingsLink">
                            <span class="material-symbols-outlined">
                                settings
                                </span> Settings
                        </a>
                    </li>
                </ul>

                <ul class="w-100 p-0 mt-5" style="list-style-type: none;">
                    <li class="nav-item">
                        <a class="m-0 active">
                            <span class="material-symbols-outlined">
                                ios_share
                                </span>
                            Export Project
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 col-md-10 p-0">
            <div id="divProjectContent" class="p-3" style="overflow: auto;">
                {% block projectContent %} {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block baseScript %}
<script>
</script>
<script src="{{ url_for('static', filename='js/project/projectBase.js') }}"></script>
{% block projectBaseScript %} {% endblock %}
{% endblock %}

<style>
#nav2 {
opacity: 1;
transition: opacity 0.3s ease-in-out;
}

#nav2:hover {
opacity: 1;
}

#nav2:not(:hover) {
opacity: 0;
}
</style>

